/* styles.css */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    
}

/* Definición de variables de colores */
:root {
    --primary-color: #cc0000; /* Color principal */
    --secondary-color: #55555570; /* Fondo claro */
    --hover-color: #716f6f; /* Color al pasar el mouse */
    --text-color: #333; /* Color del texto */
    --background-color: #333; /* Fondo general */
    --footer-background: #333; /* Fondo del footer */
    --footer-text-shadow: #0d0086; /* Sombra del texto en el footer */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, var(--background-color), #555);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#masivo{
    height: 2000px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

nav h1 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav h1:hover {
    color: #cc0000;
    text-shadow: 1px 1px 10px #0d0086;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li:hover {
    color: #cc0000;
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #cc0000;
    transform: scale(1.1);
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}



#lista, li {
    list-style-type: none;
}

/* Contenedor de las tarjetas */
article {
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
    gap: 20px; /* Espaciado uniforme entre las tarjetas */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo de las tarjetas */
section {
    width: 500px; /* Ancho fijo para las tarjetas */
    background-color: var(--secondary-color); /* Fondo claro */
    border: 1px solid var(--secondary-color); /* Borde */
    color: var(--text-color); /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 20px;
    text-align: center; /* Centra el contenido dentro de la tarjeta */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animación al pasar el mouse */
}

/* Efecto hover en las tarjetas */
section:hover {
    background-color: var(--hover-color); /* Color al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

/* Títulos dentro de las tarjetas */
section h2 {
    font-size: 1.5em;
    color: var(--primary-color); /* Color principal */
    margin-bottom: 10px;
}

/* Párrafos dentro de las tarjetas */
section p {
    font-size: 1em;
    color: var(--text-color); /* Color del texto */
    text-shadow: none;
    margin-bottom: 10px;
}

footer {
    background-color: var(--footer-background); /* Fondo del footer */
    color: white;
    text-shadow: 5px 3px 10px var(--footer-text-shadow); /* Sombra del texto */
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}