/* styles.css */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    
}

/* Definición de variables de colores */
:root {
    --primary-color: #cc0000; /* Color principal */
    --secondary-color: #55555570; /* Fondo claro */
    --hover-color: #716f6f; /* Color al pasar el mouse */
    --text-color: #333; /* Color del texto */
    --background-color: #333; /* Fondo general */
    --footer-background: #333; /* Fondo del footer */
    --footer-text-shadow: #0d0086; /* Sombra del texto en el footer */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, var(--background-color), #555);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#masivo{
    height: 2000px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

nav h1 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav h1:hover {
    color: #cc0000;
    text-shadow: 1px 1px 5px #0d0086;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li:hover {
    color: #cc0000;
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #cc0000;
    transform: scale(1.1);
}

main {
    height: 700px;
    padding: 20px;
    
    justify-content: center;
}



#lista, li {
    list-style-type: none;
}

/* Contenedor de las tarjetas */
article {
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
    gap: 20px; /* Espaciado uniforme entre las tarjetas */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo de las tarjetas */
section {
    width: 1000px; /* Ancho fijo para las tarjetas */
    height: 150px;
    background-color: var(--secondary-color); /* Fondo claro */
    border: 1px solid var(--secondary-color); /* Borde */
    color: var(--text-color); /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin: 0;
    text-align: center; /* Centra el contenido dentro de la tarjeta */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animación al pasar el mouse */
}
#informacion,h1,h3{
    text-align: center;
    
}

/* Efecto hover en las tarjetas */
section:hover {
    background-color: var(--hover-color); /* Color al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

/* Títulos dentro de las tarjetas */
section h2 {
    font-size: 1.5em;
    color: var(--primary-color); /* Color principal */
    margin-bottom: 10px;
}

/* Párrafos dentro de las tarjetas */
section p {
    font-size: 1em;
    text-shadow: 1px 1px 4px #473d94;
    
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #cc0000;
}

section a:hover {
    color: #990000;
}

section:hover {
    background-color: #716f6f;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer {
    background-color: var(--footer-background); /* Fondo del footer */
    color: white;
    text-shadow: 1px 1px 1px #0d0086;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
@keyframes slideInSection {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section {
    animation: slideInSection 1s ease-out;
}
#recycling-content {
    max-width: 800px;
    
    font-size: 14px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 255, 0.53);
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    
}
#recycling-content h2, #recycling-content h3 {
    
    
    margin-bottom: 15px;
}
.styled-list {
    list-style-type: none; /* Elimina los marcadores predeterminados */
    padding: 0;
    
}
.styled-list li {
 
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    gap: 10px;
}
.styled-list li::before {
    content: "✔"; 
       
}
.comments {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comments h3 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

.comments form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comments button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comments button:hover {
    background-color: #990000;
}

.comment-list .comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#recycling-content:hover{
    
        background-color: var(--hover-color); /* Color al pasar el mouse */
        transform: scale(1.01); /* Aumenta ligeramente el tamaño */
    
    
}
#titulo{
    text-align: center;
    justify-content: center;

 
 
}
#titulo {
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
    margin: 20px 0;
}

/* Contenedor de los artículos */
#articles-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los artículos se ajusten en varias filas si es necesario */
    gap: 20px; /* Espacio entre los artículos */
    justify-content: center; /* Centra los artículos horizontalmente */
    padding: 20px;
}

/* Estilo para los artículos individuales */
.recycling-article {
    flex: 1 1 calc(45% - 20px); /* Cada artículo ocupa el 45% del ancho del contenedor menos el espacio del gap */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover en los artículos */
.recycling-article:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

/* Títulos dentro de los artículos */
.recycling-article h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Listas dentro de los artículos */
.styled-list {
    list-style-type: disc;
    padding-left: 20px;
}

.styled-list li {
    margin-bottom: 10px;
}

/* Estilos específicos para la página de ciberacoso */
.cyberbullying-info {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.features-grid, .prevention-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.feature-item, .prevention-item {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature-item:hover, .prevention-item:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.examples-list {
    list-style-type: disc;
    padding-left: 20px;
}

.examples-list li {
    margin-bottom: 10px;
}

.argentina-info {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}