/* styles.css */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #333, #555);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
#masivo{
    height: 2000px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

nav h1 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav h1:hover {
    color: #cc0000;
    text-shadow: 1px 1px 10px #0d0086;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li:hover {
    color: #cc0000;
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #cc0000;
    transform: scale(1.1);
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}



#lista, li {
    list-style-type: none;
}

article {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 80%;    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(62, 12, 12, 0.1);
}



article h2 {
    font-size: 1.2em;
}


section {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

section h2 {
    font-size: 1.5em;
    color: #cc0000;
}

section p {
    font-size: 1em;
    text-shadow: 5px 3px 30px #473d94;
    
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #cc0000;
}

section a:hover {
    color: #990000;
}

section:hover {
    background-color: #716f6f;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer {
    background-color: #333;
    color: white;
    text-shadow: 5px 3px 10px #0d0086;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@keyframes slideInSection {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section {
    animation: slideInSection 1s ease-out;
}
